body {
  background-color: #f0f0f0;
  color: #292933;
  font-family: "Arial";
}
#wrapper {
  margin: 1rem;
  padding: 1rem;
  border: 2px solid;
  background-color: #fff;
  border-radius: 1rem;
}
a {
  color: #7f7f7f;
}
h1 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
h2 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
input[type="submit"] {
  border: 0;
  background-color: #292933;
  color: #fff;
  font-weight: bold;
  padding: .5rem;
  margin-bottom: 1rem;
}
footer {
  text-align: center;
}
footer li {
  padding: 0 .5rem;
  display: inline;
}
#results_wrapper {
  display: none;
}
#results {
  background-color: #292933;
  color: #fff;
  font-family: monospace;
  padding: 1rem;
  font-size: 1.2rem;
}
